[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    human_robot_gym/controllers/failsafe_controller/sara-shield
    human_robot_gym/models/assets/human/animations/human-robot-animations
max-line-length = 120
