[submodule "human_robot_gym/controllers/failsafe_controller/sara-shield"]
	path = human_robot_gym/controllers/failsafe_controller/sara-shield
	url = https://github.com/JakobThumm/sara-shield.git
    branch = main
[submodule "human_robot_gym/models/assets/human/animations/human-robot-animations"]
	path = human_robot_gym/models/assets/human/animations/human-robot-animations
	url = https://github.com/JakobThumm/human-robot-animations.git
