.vscode/
devel/
build/
/models
outputs/
runs/
wandb/
__pycache__/
*.py[cod]
*.egg-info/
*.egg
MUJOCO_LOG.TXT
.gittoken
docs/source/autoapi/
outputs/
multirun/
/datasets/
*.out
videos/
csv/
my_models/
