robosuite==1.5.1
robosuite-models==1.0.0
gymnasium
mink==0.0.12  # Only needed for GR1 robot whole-body IK, not required for Panda
h5py
usd-core
mujoco>=3.3.0
## hrgym requirements
bvh==0.3
opencv_python
pin
pybullet
meshcat
numpy~=2.2
scipy
numba
patchelf
## Testing and Linting
pydocstyle
flake8
black
pytest
mypy
## Training requirements
stable_baselines3
wandb
tensorboard
hydra-core
hydra-ray-launcher
## Documentation
graphviz
sphinx_rtd_theme
sphinx-autoapi