defaults:
  - sb3_default/ppo@_here_
  - _self_

learning_rate: 7e-5
n_steps: 64
batch_size: 64
n_epochs: 20
gamma: 0.99
gae_lambda: 0.9
clip_range: 0.2
clip_range_vf: null
normalize_advantage: true
ent_coef: 0.0
vf_coef: 0.5
max_grad_norm: 0.5
use_sde: false
sde_sample_freq: 4
target_kl: null
policy_kwargs:
  net_arch:
    - 64
    - 64
  ortho_init: false
  log_std_init: -2.7
  full_std: true
  use_expln: false
  squash_output: true
verbose: 1