defaults:
  - sb3_default/sac@_here_
  - _self_

learning_rate: 5e-4
learning_starts: 1000
batch_size: 128
tau: 0.005
gamma: 0.99
train_freq:
  - 100
  - step
gradient_steps: -1
action_noise: null
ent_coef: auto_0.2
target_update_interval: 1
target_entropy: auto
use_sde: false
sde_sample_freq: -1
use_sde_at_warmup: false
policy_kwargs:
  net_arch:
    - 64
    - 64
verbose: 1